@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './variables.scss';

$primary: $red;
$body-background-color: $lightblue;
$family-primary: 'Raleway', sans-serif;
$table-background-color: $darkblue;
$table-head-cell-color: white;
$table-color: white;

html,
body {
  height: 100%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

// Import Bulma
@import '~bulma';
