@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$blue: #1a1b26;
$red: #dd0f1b;
$darkred: #903749;

$alternative: #53354a;

$primary: $red;
$body-background-color: $blue;
$family-primary: 'Raleway', sans-serif;
$table-background-color: #4e5172;
$table-head-cell-color: white;
$table-color: white;

html,
body {
  height: 100%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

// Import Bulma
@import '~bulma';
